@model PetVET.Models.OpenHoursViewModels.OpenHoursViewModel
@{
    ViewData["Title"] = "OpenHours";
    Layout = "~/Views/Shared/_LayoutVET.cshtml";
}

@section Scripts
    {
    <script src="~/js/Components/tmpl-ddl.js"></script>
    <script src="~/js/Utilis.js"></script>
    <script src="~/js/ViewModel/OpenHoursViewModel.js"></script>
    <script type="text/javascript">
    openHoursViewModel.MapFromJson(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
    </script>
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <a data-bind="click: Reset" class="btn btn-warning">Reset</a>
        <a data-bind="click: Save" class="btn btn-success">Save</a>

    </section>
    <!-- Main content -->
    <section class="content">

        <!-- Form controls -->

        <div class="panel panel-bd ">

            @*<div class="panel-heading">
            <div class="btn-group">
                <a>Lista Sprzętów</a>
            </div>
        </div>*@
            <div class="panel-body">
                <form>
                    <script id="tableRow" type="text/html">
                        <tr>
                            <td><input data-bind='value: odTime' type="time" class="form-control"></td>
                            <td><input data-bind='value: doTime' type="time" class="form-control"></td>
                        </tr>

                    </script>

                    <div class="row">

                        <div class="col-md-3">
                            <fieldset>
                                <div class="i-check" style="background: #d9edf7;">
                                    <input tabindex="6" type="checkbox" data-bind="checked : PNCheck" id="minimal-checkbox-2">
                                    <label for="minimal-checkbox-2">Poniedziałek</label>
                                </div>
                                <div class="form-inline border">
                                    <table class="table">

                                        <thead>
                                            <tr>
                                                <th><label>Od</label></th>
                                                <th><label>Do</label></th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="template:{name:'tableRow', foreach: PN}"></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4">
                                                    <button type="button" class="btn btn-success" data-bind="click: Add.bind(this, 'PN')">
                                                        +
                                                    </button>
                                                    <button type="button" class="btn btn-danger" data-bind="click: Remove.bind(this, 'PN')">
                                                        -
                                                    </button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-3">
                            <fieldset>
                                <div class="i-check" style="background: #d9edf7;">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2">
                                    <label for="minimal-checkbox-2">Wtorek</label>
                                </div>
                                <div class="form-inline border">
                                    <table class="table">

                                        <thead>
                                            <tr>
                                                <th><label>Od</label></th>
                                                <th><label>Do</label></th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="template:{name:'tableRow', foreach: WT}"></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4">
                                                    <button type="button" class="btn btn-success" data-bind="click: Add.bind(this, 'WT')">
                                                        +
                                                    </button>
                                                    <button type="button" class="btn btn-danger" data-bind="click: Remove.bind(this, 'WT')">
                                                        -
                                                    </button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-3">
                            <fieldset>
                                <div class="i-check" style="background: #d9edf7;">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2">
                                    <label for="minimal-checkbox-2">Środa</label>
                                </div>
                                <div class="form-inline border">
                                    <table class="table">

                                        <thead>
                                            <tr>
                                                <th><label>Od</label></th>
                                                <th><label>Do</label></th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="template:{name:'tableRow', foreach: SR}"></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4">
                                                    <button type="button" class="btn btn-success" data-bind="click: Add.bind(this, 'SR')">
                                                        +
                                                    </button>
                                                    <button type="button" class="btn btn-danger" data-bind="click: Remove.bind(this, 'SR')">
                                                        -
                                                    </button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-3">
                            <fieldset>
                                <div class="i-check" style="background: #d9edf7;">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2">
                                    <label for="minimal-checkbox-2">Czwartek</label>
                                </div>
                                <div class="form-inline border">
                                    <table class="table">

                                        <thead>
                                            <tr>
                                                <th><label>Od</label></th>
                                                <th><label>Do</label></th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="template:{name:'tableRow', foreach: CZ}"></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4">
                                                    <button type="button" class="btn btn-success" data-bind="click: Add.bind(this, 'CZ')">
                                                        +
                                                    </button>
                                                    <button type="button" class="btn btn-danger" data-bind="click: Remove.bind(this, 'CZ')">
                                                        -
                                                    </button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <br class="hidden-xs" />
                    <br class="hidden-xs" />
                    <br class="hidden-xs" />
                    <div class="row">
                        <div class="col-md-3">
                            <fieldset>
                                <div class="i-check" style="background: #d9edf7;">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2">
                                    <label for="minimal-checkbox-2">Piątek</label>
                                </div>
                                <div class="form-inline border">
                                    <table class="table">

                                        <thead>
                                            <tr>
                                                <th><label>Od</label></th>
                                                <th><label>Do</label></th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="template:{name:'tableRow', foreach: PT}"></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4">
                                                    <button type="button" class="btn btn-success" data-bind="click: Add.bind(this, 'PT')">
                                                        +
                                                    </button>
                                                    <button type="button" class="btn btn-danger" data-bind="click: Remove.bind(this, 'PT')">
                                                        -
                                                    </button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </fieldset>
                        </div>

                        <div class="col-md-3">
                            <fieldset>
                                <div class="i-check" style="background: #d9edf7;">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2">
                                    <label for="minimal-checkbox-2">Sobota</label>
                                </div>
                                <div class="form-inline border">
                                    <table class="table">

                                        <thead>
                                            <tr>
                                                <th><label>Od</label></th>
                                                <th><label>Do</label></th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="template:{name:'tableRow', foreach: SO}"></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4">
                                                    <button type="button" class="btn btn-success" data-bind="click: Add.bind(this, 'SO')">
                                                        +
                                                    </button>
                                                    <button type="button" class="btn btn-danger" data-bind="click: Remove.bind(this, 'SO')">
                                                        -
                                                    </button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-3">
                            <fieldset>
                                <div class="i-check" style="background: #d9edf7;">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2">
                                    <label for="minimal-checkbox-2">Niedziela</label>
                                </div>
                                <div class="form-inline border">
                                    <table class="table">

                                        <thead>
                                            <tr>
                                                <th><label>Od</label></th>
                                                <th><label>Do</label></th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="template:{name:'tableRow', foreach: ND}"></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4">
                                                    <button type="button" class="btn btn-success" data-bind="click: Add.bind(this, 'ND')">
                                                        +
                                                    </button>
                                                    <button type="button" class="btn btn-danger" data-bind="click: Remove.bind(this, 'ND')">
                                                        -
                                                    </button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </form>

            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd ">
                    <div class="panel-heading">
                        <div class="btn-group" id="buttonexport">
                            <a href="#">
                                <h4>Dni wolne</h4>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-4">
                            <ul class="nav nav-tabs tabs-left holiday-month">
                                <li data-bind="css : {active :  items[0].isActive()}"><a href="#" data-bind="click : OnMonthClick.bind(this,1)"><i class=" ti-calendar "></i> January</a></li>
                                <li data-bind="css : {active :  items[1].isActive()}"><a href="#" data-bind="click : OnMonthClick.bind(this,2)"><i class=" ti-calendar "></i> February</a></li>
                                <li data-bind="css : {active :  items[2].isActive()}"><a href="#" data-bind="click : OnMonthClick.bind(this,3)"><i class=" ti-calendar "></i> March</a></li>
                                <li data-bind="css : {active :  items[3].isActive()}"><a href="#" data-bind="click : OnMonthClick.bind(this,4)"><i class=" ti-calendar "></i> April</a></li>
                                <li data-bind="css : {active :  items[4].isActive()}"><a href="#" data-bind="click : OnMonthClick.bind(this,5)"><i class=" ti-calendar "></i> May</a></li>
                                <li data-bind="css : {active :  items[5].isActive()}"><a href="#" data-bind="click : OnMonthClick.bind(this,6)"><i class=" ti-calendar "></i> June</a></li>
                                <li data-bind="css : {active :  items[6].isActive()}"><a href="#" data-bind="click : OnMonthClick.bind(this,7)"><i class=" ti-calendar "></i> July</a></li>
                                <li data-bind="css : {active :  items[7].isActive()}"><a href="#" data-bind="click : OnMonthClick.bind(this,8)"><i class=" ti-calendar "></i> August</a></li>
                                <li data-bind="css : {active :  items[8].isActive()}"><a href="#" data-bind="click : OnMonthClick.bind(this,9)"><i class=" ti-calendar "></i> September</a></li>
                                <li data-bind="css : {active :  items[9].isActive()}"><a href="#" data-bind="click : OnMonthClick.bind(this,10)"><i class=" ti-calendar "></i> October</a></li>
                                <li data-bind="css : {active :  items[10].isActive()}"><a href="#" data-bind="click : OnMonthClick.bind(this,11)"><i class=" ti-calendar "></i> November</a></li>
                                <li data-bind="css : {active :  items[11].isActive()}"><a href="#" data-bind="click : OnMonthClick.bind(this,12)"><i class=" ti-calendar "></i> December</a></li>
                            </ul>
                        </div>
                        <!-- Tab panels -->

                        <div class="tab-content col-sm-8">
                            <div class="tab-pane fade in active" id="tab1">
                                <div class="panel-body">
                                    <a href="#" class="btn btn-add btndate" data-toggle="modal" data-target="#addholiday"><i class="ti-calendar"></i> <strong data-bind="Click : Add">Dodaj</strong></a>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-hover">
                                            <thead>
                                                <tr class="info">
                                                    <th>Event Name</th>
                                                    <th>start date</th>
                                                    <th>End date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody data-bind="foreach: HolidayList">
                                                <tr>
                                                    <td data-bind="text: $data.HolidayName()"></td>
                                                    <td data-bind="text: $data.DateFrom()"></td>
                                                    <td data-bind="text: $data.DateTo()"></td>
                                                    <td class="text-center">
                                                        <button data-bind="click : $parent.EditHoliday.bind(this,$data.Id)" type="button" class="btn btn-add btn-xs">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->

    <div data-bind="modal : HolidayBeingEdited" id="holidayModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3><i class="fa fa-user m-r-5"></i> Update Holiday</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">

                            <form class="form-horizontal">
                                <fieldset>
                                    <!-- Text input-->
                                    <div class="col-md-12 form-group">
                                        <label class="control-label">Holiday Name</label>
                                        <input type="text" data-bind="value: HolidayBeingEdited() && HolidayBeingEdited().HolidayName()" placeholder="Customer Name" class="form-control">
                                    </div>
                                    <!-- Text input-->
                                    <div class="col-md-6 form-group">
                                        <label class="control-label">Date from</label>
                                        <input type="date" data-bind="value: HolidayBeingEdited() && HolidayBeingEdited().DateFrom()" placeholder="Data od" class="form-control">
                                    </div>
                                    <!-- Text input-->
                                    <div class="col-md-6 form-group">
                                        <label class="control-label">Date to</label>
                                        <input type="date" data-bind="value: HolidayBeingEdited() && HolidayBeingEdited().DateFrom()" placeholder="Mobile" class="form-control">
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalSave" class="btn btn-success pull-left">Save</button>

                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>
<!-- /.content-wrapper -->
