@model PetVET.Models.EquipmentViewModels.EquipmentViewModel
@{
    ViewData["Title"] = "Equipment";
    Layout = "~/Views/Shared/_LayoutVET.cshtml";
}

@section Scripts
    {
    <script src="~/js/Components/tmpl-ddl.js"></script>
    <script src="~/js/Utilis.js"></script>
    <script src="~/js/ViewModel/EquipmentViewModel.js"></script>
    <script type="text/javascript">
    serviceViewModel.MapFromJson(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
    </script>
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
            <a class="btn btn-add " href="clist.html">
                <i class="fa fa-list"></i>  Przejdź na listę sprzętów
            </a>
            <a data-bind="click: AddNew" class="btn btn-warning">Reset</a>
            <a data-bind="click: Save" class="btn btn-success">Save</a>
      
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- Form controls -->
            <div class="col-sm-12">
                <div class="panel panel-bd ">
                    @*<div class="panel-heading">
                        <div class="btn-group">
                            <a>Lista Sprzętów</a>
                        </div>
                    </div>*@
                    <div class="panel-body">
                        <form class="col-sm-6">
                            <fieldset>
                                <div class="form-group">
                                    <label>Nazwa Sprzętu</label>
                                    <input data-bind='value: EquipmentName' type="text" class="form-control" placeholder="Wpisz nazwę usługi" required>
                                </div>
                                <div class="form-group">
                                    <label>Kategoria</label>
                                    <input data-bind="value: EquipmentType" type="text" class="form-control" placeholder="Wybierz kategorie">
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
