@model PetVET.Models.OpenHoursViewModels.OpenHoursViewModel
@{
    ViewData["Title"] = "OpenHours";
    Layout = "~/Views/Shared/_LayoutVET.cshtml";
}

@section Scripts
    {
    <script src="~/js/Components/tmpl-ddl.js"></script>
    <script src="~/js/Utilis.js"></script>
    <script src="~/js/ViewModel/OpenHoursViewModel.js"></script>
    <script type="text/javascript">
    openHoursViewModel.MapFromJson(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
    </script>
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
            <a class="btn btn-add " href="clist.html">
                <i class="fa fa-list"></i>  Przejdź na listę sprzętów
            </a>
            <a data-bind="click: AddNew" class="btn btn-warning">Reset</a>
            <a data-bind="click: Save" class="btn btn-success">Save</a>
      
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- Form controls -->
            <div class="col-sm-12">
                <div class="panel panel-bd ">
                    @*<div class="panel-heading">
                        <div class="btn-group">
                            <a>Lista Sprzętów</a>
                        </div>
                    </div>*@
                    <div class="panel-body">
                        <form class="col-sm-1">
                            <fieldset>
                                <div class="i-check">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2" checked>
                                    <label for="minimal-checkbox-2">Poniedziałek</label>
                                </div>
                                <div class="form-group">
                                    <label>Od</label>
                                    <input data-bind='value: InvoiceID' type="time" class="form-control" value="08:00">
                                </div>
                                <div class="form-group">
                                    <label>Od</label>
                                    <input data-bind='value: InvoiceID' type="time" class="form-control" value="18:00">
                                </div>
                            </fieldset>
                        </form>
                        <form class="col-sm-1">
                            <fieldset>
                                <div class="i-check">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2" checked>
                                    <label for="minimal-checkbox-2">Wtorek</label>
                                </div>
                                <div class="form-group">
                                    <label>Od</label>
                                    <input data-bind='value: InvoiceID' type="time" class="form-control" value="08:00">
                                </div>
                                <div class="form-group">
                                    <label>Od</label>
                                    <input data-bind='value: InvoiceID' type="time" class="form-control" value="18:00">
                                </div>
                            </fieldset>
                        </form>
                        <form class="col-sm-1">
                            <fieldset>
                                <div class="i-check">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2" checked>
                                    <label for="minimal-checkbox-2">Środa</label>
                                </div>
                                <div class="form-group">
                                    <label>Od</label>
                                    <input data-bind='value: InvoiceID' type="time" class="form-control" value="08:00">
                                </div>
                                <div class="form-group">
                                    <label>Od</label>
                                    <input data-bind='value: InvoiceID' type="time" class="form-control" value="18:00">
                                </div>
                            </fieldset>
                        </form>
                        <form class="col-sm-1">
                            <fieldset>
                                <div class="i-check">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2" checked>
                                    <label for="minimal-checkbox-2">Czwartek</label>
                                </div>
                                <div class="form-group">
                                    <label>Od</label>
                                    <input data-bind='value: InvoiceID' type="time" class="form-control" value="08:00">
                                </div>
                                <div class="form-group">
                                    <label>Od</label>
                                    <input data-bind='value: InvoiceID' type="time" class="form-control" value="18:00">
                                </div>
                            </fieldset>
                        </form>
                        <form class="col-sm-1">
                            <fieldset>
                                <div class="i-check">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2" checked>
                                    <label for="minimal-checkbox-2">Piątek</label>
                                </div>
                                <div class="form-group">
                                    <label>Od</label>
                                    <input data-bind='value: InvoiceID' type="time" class="form-control" value="08:00">
                                </div>
                                <div class="form-group">
                                    <label>Od</label>
                                    <input data-bind='value: InvoiceID' type="time" class="form-control" value="18:00">
                                </div>
                            </fieldset>
                        </form>
                        <form class="col-sm-1">
                            <fieldset>
                                <div class="i-check">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2" >
                                    <label for="minimal-checkbox-2">Sobota</label>
                                </div>
                                <div class="form-group">
                                    <label>Od</label>
                                    <input data-bind='value: InvoiceID' type="time" class="form-control" value="">
                                </div>
                                <div class="form-group">
                                    <label>Od</label>
                                    <input data-bind='value: InvoiceID' type="time" class="form-control" value="">
                                </div>
                            </fieldset>
                        </form>
                        <form class="col-sm-1">
                            <fieldset>
                                <div class="i-check">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2" >
                                    <label for="minimal-checkbox-2">Niedziela</label>
                                </div>
                                <div class="form-group">
                                    <label>Od</label>
                                    <input data-bind='value: InvoiceID' type="time" class="form-control" value="">
                                </div>
                                <div class="form-group">
                                    <label>Od</label>
                                    <input data-bind='value: InvoiceID' type="time" class="form-control" value="">
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
