@model PetVET.Models.AboutUsViewModels.AboutUsViewModel
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_LayoutVET.cshtml";
}

@section Scripts
    {
    <script src="~/js/Components/tmpl-ddl.js"></script>
    <script src="~/js/Utilis.js"></script>
    <script src="~/js/ViewModel/AboutUsViewModel.js"></script>
    <script type="text/javascript">
    aboutUsViewModel.MapFromJson(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
    </script>
}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          
            <a data-bind="click: AddNew" class="btn btn-warning">Wyczyść</a>
            <a data-bind="click: Save" class="btn btn-success">Zapisz</a>

        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- Form controls -->
                <div class="col-sm-7">
                    <div class="panel panel-bd ">

                        <div class="panel-body">
                            <form class="col-sm-12">
                                <fieldset>
                                    <div class="form-group">
                                        <label>Nazwa Firmy</label>
                                        <input data-bind='value: CompanyName' type="text" class="form-control" placeholder="Nazwa Firmy" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Nazwa gabinetu</label>
                                        <input data-bind="value: CabinetName" type="text" class="form-control" placeholder="Nazwa gabinetu">
                                    </div>

                                    <div class="form-group">
                                        <label>Numer telefonu</label>
                                        <input data-bind="value: Phone" type="number" class="form-control" placeholder="Numer telefonu">
                                    </div>

                                    <div class="form-group">
                                        <label>Opis</label>
                                        <textarea data-bind="value: Desc" type="text" class="form-control" rows="5"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>Link do FB</label>
                                        <input data-bind="value: FB" type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Link do Insta</label>
                                        <input data-bind="value: Insta" type="text" class="form-control" placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <label>Link do strony WWW</label>
                                        <input data-bind="value: WWW" type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label>Zdjecie</label>
                                        <input type="file" name="picture">
                                        <input type="hidden" name="old_picture">
                                    </div>
                                </fieldset>
                            </form>
                        
                        </div>

                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="panel panel-bd ">
                        @*<div class="panel-heading">
                    <div class="btn-group">
                        <a>Lista Sprzętów</a>
                    </div>
                </div>*@
                        <div class="panel-body">
                            <form class="col-sm-4">
                                <div class="i-check">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2">
                                    <label for="minimal-checkbox-2">Hotel dla zwierząt</label>
                                </div>
                                <div class="i-check">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2">
                                    <label for="minimal-checkbox-2">Weterynarz</label>
                                </div>
                                <div class="i-check">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2">
                                    <label for="minimal-checkbox-2">Fryzjer dla zwierząt</label>
                                </div>
                                <div class="i-check">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2">
                                    <label for="minimal-checkbox-2">Trenerzy dla zwierząt</label>
                                </div>
                                <div class="i-check">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2">
                                    <label for="minimal-checkbox-2">SPA dla zwierząt</label>
                                </div>
                                <div class="i-check">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2">
                                    <label for="minimal-checkbox-2">Behawiorysta</label>
                                </div>
                                <div class="i-check">
                                    <input tabindex="6" type="checkbox" id="minimal-checkbox-2">
                                    <label for="minimal-checkbox-2">Klinika dla zwierząt</label>
                                </div>

                            </form>
                            <form class="col-sm-8">
                                <fieldset>
                                    <tmpl-ddl params='{data: CategoryOptionData,
                                        name:"Głowna kategoria",
                                        selectedValue : Category,
                                        caption: "Wybierz",
                                        callback: SelectedValueCallback }'></tmpl-ddl>
                                </fieldset>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
<!-- /.content-wrapper -->
